<div class="grail">
	<header>header</header>
	<nav>
		<ul>
			<li> <a routerLink="" routerLinkActive="routed" [routerLinkActiveOptions]="{exact:
true}">Home</a> </li>
			<li> <a routerLink="/sparkle" routerLinkActive="routed">Unicorn list</a> </li>
			<li> <a routerLink="/pimpMyUnicorn" routerLinkActive="routed">Accessories</a> </li>
			<li> <a routerLink="/ijdnjgmfkh" routerLinkActive="routed">Fail!</a> </li>
		</ul>
	</nav>
	<main>
		<router-outlet></router-outlet>
	</main>
	<aside>sidebar</aside>
	<footer>footer</footer>
</div>
